@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bordered {
  /* display: inline-block;
  padding: 20px;
  /* Optional: 
     A normal dashed border can be set as a fallback, particularly if older browsers need to be supported. Notes:
     - the 4px width here is overwritten with any border-image-width value
     - a border-image-width can be omitted if it is the same value as the dashed border width
  */

  border: 2px dashed #D1DBE8;

}


/* .largeGaps {
  border-image-source: url("https://i.sstatic.net/LKclP.png");
  margin: 0 20px;
} */

.btn-grad {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ece9e9;
  box-shadow: 0 0 10px #353535;
  border-radius: 10px;
  display: block;
  width: 100%;
  border-radius: 50px;
}

.btn-grad:hover {
  background-position: right center;
  text-decoration: none;
}

.btn-grad:disabled {
  background-color: #a7a7a7;
  background-image: none;
  cursor: no-drop;
}


